/*----------SETTINGS---------*/
* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
  height: 100%;
}

ul,
ol,
li,
b,
h1,
h2,
h3,
h4,
h6,
a,
p {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: block;
}

a {
  color: unset;
}
a:hover {
  color: unset;
}

select {
  outline: none;
  border: none;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: var(--body-bg);
  color: var(--font-color1);
}

.page_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page_content .desktop_nav {
  flex-shrink: 0;
  width: 26%;
  max-width: 200px;
  border-right: 1px solid var(--nav-border);
  display: none;
  flex-direction: column;
  padding-top: 20px;
}
.page_content .desktop_nav .nav_logo-cont {
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  font-family: "Julius Sans One", sans-serif;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.page_content .desktop_nav .nav_logo-cont img {
  width: 1.8rem;
  height: 1.8rem;
}
.page_content .desktop_nav .nav_useful_links {
  align-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  margin: 20px 0;
  gap: 16px;
  max-width: 98%;
}
.page_content .desktop_nav .nav_useful_links li {
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
  padding: 12px 24px;
  transition: background-color 0.1s ease;
  background-color: var(--nav-usefullinks-bgcolor);
  border-radius: 5px;
  border: 1px solid var(--nav-border);
}
.page_content .desktop_nav .nav_useful_links li:hover {
  background-color: var(--nav-usefullinks-hover-bgcolor);
}
.page_content .desktop_nav .nav_useful_links li .nav_link_icon-cont {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.page_content .desktop_nav .nav_useful_links li span {
  font-size: 1.1rem;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.page_content section {
  flex-grow: 1;
}

header {
  width: 100%;
  padding: 10px 10px;
  color: var(--font-color1);
}
header .mobile_header-index {
  display: flex;
}
header .mobile_header-index .drawerBtn-cont {
  display: flex;
  font-size: 3rem;
}
header .mobile_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .mobile_header .drawerBtn-cont {
  display: flex;
  font-size: 2.7rem;
}
header .mobile_header .logo-mobile-cont {
  font-size: 1.6rem;
  font-family: "Julius Sans One", sans-serif;
  padding-top: 2px;
}
header .mobile_header .search-mobile-cont {
  display: flex;
  font-size: 2rem;
}
header .desktop_header {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 0 3%;
}
header .desktop_header .page_title {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
header .desktop_header .page_title span {
  font-size: 1.4rem;
  font-family: "Laila", sans-serif;
}
header .desktop_header .header_actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  margin-left: auto;
  position: relative;
}
header .desktop_header .header_actions .search-header_desktop-cont {
  display: flex;
  position: relative;
}
header .desktop_header .header_actions .search-header_desktop-cont input {
  all: unset;
  width: 160px;
  padding: 11px 35px 10px 8px;
  border-radius: 6px;
  border: 1px solid var(--search-bordercolor);
  background-color: var(--search-bgcolor);
  transition: width 0.1s ease;
}
header .desktop_header .header_actions .search-header_desktop-cont input:focus {
  width: 240px;
}
header .desktop_header .header_actions .search-header_desktop-cont .search_input-icon {
  height: 1.1rem;
  width: 1.1rem;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
}
header .desktop_header .header_actions .menu-cont {
  display: flex;
  flex-direction: row;
}
header .desktop_header .header_actions .menu-cont .account {
  display: flex;
  align-items: center;
  font-size: 48px;
  cursor: pointer;
  color: var(--account-icon);
}
header .desktop_header .header_actions .menu-cont .dropdown_menu-btn {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0 8px;
  color: var(--font-color1);
  opacity: 0.5;
  cursor: pointer;
}
header .desktop_header .header_actions .menu-cont:hover .dropdown_menu-btn {
  opacity: 1;
}
header .desktop_header .header_actions .dropdown_menu.active {
  display: flex;
}
header .desktop_header .header_actions .dropdown_menu {
  display: none;
  position: absolute;
  right: 0;
  top: 56px;
  border-radius: 10px;
  z-index: 402;
  flex-direction: column;
  background-color: var(--dropdownMenu-bgcolor);
  border: 1px solid var(--dropdownMenu-bordercolor);
  color: var(--dropdownMenu-fontcolor);
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.1);
}
header .desktop_header .header_actions .dropdown_menu li {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 12px;
  padding: 10px 14px;
  border-bottom: 1px solid var(--dropdownMenu-bordercolor);
  cursor: pointer;
  transition: background-color 0.1s ease;
}
header .desktop_header .header_actions .dropdown_menu li:hover {
  background-color: var(--dropdownMenu-hover-bgcolor);
}
header .desktop_header .header_actions .dropdown_menu li:last-child {
  border-bottom: unset;
}
header .desktop_header .header_actions .dropdown_menu li .dm_icon-cont {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}
header .desktop_header .header_actions .dropdown_menu li span {
  font-size: 1.4rem;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
header .drawer-cont.active {
  left: 0;
  width: 100%;
}
header .drawer-cont.active .drawer {
  left: 0;
}
header .drawer-cont {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -10px;
  right: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4392156863);
  z-index: 400;
  width: 0;
}
header .drawer-cont .drawer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -270px;
  width: 260px;
  height: 100%;
  max-width: 85%;
  background-color: var(--drawer-bgcolor);
  transition: all 0.2s ease-in-out;
  z-index: 401;
  display: flex;
  flex-direction: column;
}
header .drawer-cont .drawer .dr-account-cont {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 20px 16px;
  background-color: #38985a;
  margin-bottom: 10px;
  position: relative;
  color: #ffffff;
}
header .drawer-cont .drawer .dr-account-cont .dr-closeDrawer {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.4rem;
  display: flex;
  padding: 10px;
}
header .drawer-cont .drawer .dr-account-cont .dr-profilePic-cont img {
  width: 3.4rem;
  height: 3.4rem;
}
header .drawer-cont .drawer .dr-account-cont .dr-account_info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
header .drawer-cont .drawer .dr-account-cont .dr-account_info .dr-account_username {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
header .drawer-cont .drawer .dr-account-cont .dr-account_info .dr-account_email {
  font-size: 0.9rem;
  font-family: "Shantell Sans", cursive;
}
header .drawer-cont .drawer .dr-link_groups-cont {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
header .drawer-cont .drawer .dr-link_groups-cont .dr-group_heading {
  padding: 10px 12px 10px;
  font-size: 1.2rem;
  font-family: "Laila", sans-serif;
  font-weight: 400;
}
header .drawer-cont .drawer .dr-link_groups-cont .dr-group_account,
header .drawer-cont .drawer .dr-link_groups-cont .dr-group_general {
  display: flex;
  flex-direction: column;
}
header .drawer-cont .drawer .dr-link_groups-cont .dr-group_account li a,
header .drawer-cont .drawer .dr-link_groups-cont .dr-group_general li a {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}
header .drawer-cont .drawer .dr-link_groups-cont .dr-group_account li a .dr-link_icon,
header .drawer-cont .drawer .dr-link_groups-cont .dr-group_general li a .dr-link_icon {
  font-size: 1.4rem;
}
header .drawer-cont .drawer .dr-link_groups-cont .dr-group_account li a span,
header .drawer-cont .drawer .dr-link_groups-cont .dr-group_general li a span {
  font-size: 1.4rem;
  font-family: "Shantell Sans", cursive;
}

.main-sectors {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.main-sectors .mainpage_heading {
  width: 100%;
  padding: 0px 10px 20px;
  text-align: center;
  font-size: 2rem;
  font-family: "Julius Sans One", sans-serif;
}
.main-sectors .search-main-cont {
  display: flex;
  position: relative;
  width: 80%;
  max-width: 500px;
}
.main-sectors .search-main-cont input {
  all: unset;
  width: 100%;
  font-size: 1.2rem;
  padding: 13px 50px 12px 12px;
  border-radius: 6px;
  border: 1px solid var(--search-bordercolor);
  background-color: var(--search-bgcolor);
  transition: width 0.1s ease;
}
.main-sectors .search-main-cont .search_input-icon {
  height: 1.4rem;
  width: 1.4rem;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
}
.main-sectors .sectors_heading {
  text-align: center;
  padding: 20px;
  font-size: 1.7rem;
  font-family: "Laila", sans-serif;
}
.main-sectors article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px 16px;
}
.main-sectors article .sector_item {
  display: flex;
  flex-direction: column;
  font-family: "Life Savers", cursive;
  width: 100px;
  border-radius: 6px;
  background-color: var(--sectorItem-bgcolor);
  border: 1px solid var(--sectorItem-bordercolor);
  transition: all 0.1s ease;
  cursor: pointer;
}
.main-sectors article .sector_item:hover {
  background-color: var(--sectorItem-hover-bgcolor);
  border: 1px solid var(--sectorItem-hover-bordercolor);
}
.main-sectors article .sector_item .sector_item_img-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.main-sectors article .sector_item .sector_item_img-cont img {
  width: 70%;
  height: auto;
}
.main-sectors article .sector_item span {
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}

@media (min-width: 281px) {
  header {
    padding: 15px 18px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .page_content .desktop_nav {
    display: flex;
  }
  .page_content section {
    padding: 15px 18px;
  }
  header {
    padding: unset;
    padding-bottom: 15px;
  }
  header .desktop_header {
    display: flex;
  }
  header .mobile_header-index,
  header .mobile_header {
    display: none;
  }
  header .drawer-cont {
    display: none;
  }
  .main-sectors {
    margin: 30px 10px;
  }
  .main-sectors .mainpage_heading {
    display: none;
  }
  .main-sectors .search-main-cont {
    margin-bottom: 20px;
  }
  .main-sectors .search-main-cont input {
    padding: 17px 50px 15px 12px;
  }
}
@media (min-width: 992px) {
  .page_content .desktop_nav {
    max-width: 260px;
  }
  .page_content .desktop_nav .nav_logo-cont {
    font-size: 1.4rem;
  }
  .main-sectors article {
    max-width: 80%;
  }
  .main-sectors article .sector_item {
    width: 120px;
  }
}/*# sourceMappingURL=global.css.map */