/*----------SETTINGS---------*/
* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    position: relative;
    height: 100%;
}


ul,
ol,
li,
b,
h1,
h2,
h3,
h4,
h6,
a,
p {
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
}

a {
    color: unset;

    &:hover {
        color: unset;
    }
}

select {
    outline: none;
    border: none;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: var(--body-bg);
    color: var(--font-color1);
}





.page_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .desktop_nav {
        flex-shrink: 0;
        width: 26%;
        max-width: 200px;
        border-right: 1px solid var(--nav-border);
        display: none;
        flex-direction: column;
        padding-top: 20px;

        .nav_logo-cont {
            padding: 10px;
            margin: 10px 0;
            font-size: 1rem;
            font-family: 'Julius Sans One', sans-serif;
            align-self: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;

            img {
                width: 1.8rem;
                height: 1.8rem;
            }
        }

        .nav_useful_links {
            align-self: center;
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            overflow: hidden;
            margin: 20px 0;
            gap: 16px;
            max-width: 98%;

            li {
                display: flex;
                flex-direction: row;
                gap: 20px;
                cursor: pointer;
                padding: 12px 24px;
                transition: background-color 0.1s ease;
                background-color: var(--nav-usefullinks-bgcolor);
                border-radius: 5px;
                border: 1px solid var(--nav-border);

                &:hover {
                    background-color: var(--nav-usefullinks-hover-bgcolor);
                }

                .nav_link_icon-cont {
                    display: flex;
                    align-items: center;
                    font-size: 1.0rem;
                }

                span,
                a {
                    font-size: 1.1rem;
                    white-space: nowrap;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                }
            }
        }
    }

    section {
        flex-grow: 1;
        overflow: hidden;
    }
}

header {
    width: 100%;
    padding: 10px 10px;
    color: var(--font-color1);

    .mobile_header-index {
        display: flex;

        .drawerBtn-cont {
            display: flex;
            font-size: 3rem;
        }
    }

    .mobile_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .drawerBtn-cont {
            display: flex;
            font-size: 2.7rem;
        }

        .logo-mobile-cont {
            font-size: 1.6rem;
            font-family: 'Julius Sans One', sans-serif;
            padding-top: 2px;
        }

        .search-mobile-cont {
            display: flex;
            font-size: 2rem;
        }
    }

    .desktop_header {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        padding: 0 3%;

        .page_title {
            display: flex;
            align-items: center;
            flex-shrink: 0;

            span {
                font-size: 1.4rem;
                font-family: 'Laila', sans-serif;
            }
        }

        .header_actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 14px;
            margin-left: auto;
            position: relative;

            .search-header_desktop-cont {
                display: flex;
                position: relative;

                input {
                    all: unset;
                    width: 160px;
                    padding: 11px 35px 10px 8px;
                    border-radius: 6px;
                    border: 1px solid var(--search-bordercolor);
                    background-color: var(--search-bgcolor);
                    transition: width 0.1s ease;

                    &:focus {
                        width: 240px;
                    }
                }

                .search_input-icon {
                    height: 1.1rem;
                    width: 1.1rem;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0.7;
                }
            }

            .menu-cont {
                display: flex;
                flex-direction: row;

                .account {
                    display: flex;
                    align-items: center;
                    font-size: 48px;
                    cursor: pointer;
                    color: var(--account-icon);
                }

                .dropdown_menu-btn {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    padding: 0 8px;
                    color: var(--font-color1);
                    opacity: 0.5;
                    cursor: pointer;
                }

                &:hover .dropdown_menu-btn {
                    opacity: 1;
                }
            }

            .dropdown_menu.active {
                display: flex;
            }

            .dropdown_menu {
                display: none;
                position: absolute;
                right: 0;
                top: 56px;
                border-radius: 10px;
                z-index: 402;
                flex-direction: column;
                background-color: var(--dropdownMenu-bgcolor);
                border: 1px solid var(--dropdownMenu-bordercolor);
                color: var(--dropdownMenu-fontcolor);
                overflow: hidden;
                user-select: none;
                -webkit-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.1);
                box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.1);

                li {
                    width: 100%;
                    border-bottom: 1px solid var(--dropdownMenu-bordercolor);

                    &:last-child {
                        border-bottom: unset;
                    }

                    >a {
                        cursor: pointer;
                        transition: background-color 0.1s ease;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        gap: 12px;
                        padding: 10px 14px;

                        &:hover {
                            background-color: var(--dropdownMenu-hover-bgcolor);
                        }

                        .dm_icon-cont {
                            font-size: 1.3rem;
                            display: flex;
                            align-items: center;
                        }

                        span {
                            font-size: 1.4rem;
                            white-space: nowrap;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }

    .drawer-cont.active {
        left: 0;
        width: 100%;

        .drawer {
            left: 0;
        }
    }

    .drawer-cont {
        display: flex;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -10px;
        right: 0;
        height: 100%;
        overflow: hidden;
        background-color: #00000070;
        z-index: 400;
        width: 0;

        .drawer {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -270px;
            width: 260px;
            height: 100%;
            max-width: 85%;
            background-color: var(--drawer-bgcolor);
            transition: all 0.2s ease-in-out;
            z-index: 401;
            display: flex;
            flex-direction: column;

            .dr-account-cont {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;
                padding: 20px 16px;
                background-color: #38985a;
                margin-bottom: 10px;
                position: relative;
                color: #ffffff;

                .dr-closeDrawer {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 2.4rem;
                    display: flex;
                    padding: 10px;
                }

                .dr-profilePic-cont {
                    img {
                        width: 3.4rem;
                        height: 3.4rem;
                    }
                }

                .dr-account_info {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    .dr-account_username {
                        font-size: 1.2rem;
                        font-family: 'Roboto', sans-serif;
                    }

                    .dr-account_email {
                        font-size: 0.9rem;
                        font-family: 'Shantell Sans', cursive;
                    }
                }
            }

            .dr-link_groups-cont {
                display: flex;
                flex-direction: column;
                overflow-y: auto;

                .dr-group_heading {
                    padding: 10px 12px 10px;
                    font-size: 1.2rem;
                    font-family: "Laila", sans-serif;
                    font-weight: 400;
                }

                .dr-group_account,
                .dr-group_general {
                    display: flex;
                    flex-direction: column;

                    li {
                        a {
                            padding: 8px 16px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 12px;
                            white-space: nowrap;

                            .dr-link_icon {
                                font-size: 1.4rem;
                            }

                            span {
                                font-size: 1.4rem;
                                font-family: 'Shantell Sans', cursive;
                            }
                        }
                    }
                }
            }

        }
    }
}



// INDEX

.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .mainpage_heading {
        width: 100%;
        padding: 0px 10px 20px;
        text-align: center;
        font-size: 2rem;
        font-family: 'Julius Sans One', sans-serif;
    }

    .search-main-cont {
        display: flex;
        position: relative;
        width: 80%;
        max-width: 500px;
        margin-bottom: 20px;

        input {
            all: unset;
            width: 100%;
            font-size: 1.2rem;
            padding: 13px 50px 12px 12px;
            border-radius: 6px;
            border: 1px solid var(--search-bordercolor);
            background-color: var(--search-bgcolor);
            transition: width 0.1s ease;
        }

        .search_input-icon {
            height: 1.4rem;
            width: 1.4rem;
            position: absolute;
            right: 14px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.7;
        }
    }

    .sectors_heading {
        text-align: center;
        padding: 20px;
        font-size: 1.7rem;
        font-family: 'Laila', sans-serif;
    }

    article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px 16px;

        .sector_item {
            display: flex;
            flex-direction: column;
            font-family: 'Life Savers', cursive;
            width: 100px;
            border-radius: 6px;
            background-color: var(--sectorItem-bgcolor);
            border: 1px solid var(--sectorItem-bordercolor);
            transition: all 0.1s ease;
            cursor: pointer;

            &:hover {
                background-color: var(--sectorItem-hover-bgcolor);
                border: 1px solid var(--sectorItem-hover-bordercolor);
            }

            .sector_item_img-cont {
                width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 10px;

                img {
                    width: 70%;
                    height: auto;
                }
            }

            span {
                font-size: 1rem;
                padding: 10px;
                text-align: center;
            }
        }
    }
}

// DISCOVER

.main-discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .discover_group-heading-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 10px;
        padding-left: 14px;
        margin-bottom: 10px;


        .discover_group-heading-icon {
            font-size: 1.1rem;
            display: flex;
        }

        span {
            font-size: 1.2rem;
            font-family: 'Klee One', cursive;
        }
    }

    .d-category_list {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 10px 20px 16px;
        width: 100%;
        overflow-x: auto;
        margin-bottom: 10px;

        .d-category_item.active {
            .d-categorySymbol {
                border: 2px solid #2284ca;

                img {
                    width: 70%;
                    height: 70%;
                }
            }
        }

        .d-category_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            &:hover:not(.active) .d-categorySymbol {
                border: 1px solid var(--category-hover-bordercolor);
            }

            .d-categorySymbol {
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                background-color: var(--category-bgcolor);
                border: 1px solid var(--category-bgcolor);
                transition: border 0.1s ease;

                img {
                    width: 60%;
                    height: 60%;
                }
            }

            span {
                font-size: 0.9rem;
                font-family: 'Mina', sans-serif;
            }
        }
    }

    .d-brand_list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px 0;
        gap: 16px;

        .d-brand_item {
            padding: 14px;
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid var(--brand-bordercolor);
            background-color: var(--brand-bgcolor);

            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            gap: 8px;

            &:hover {
                background-color: var(--brand-hover-bgcolor);
            }

            .brand_logo-cont {
                display: flex;
                align-items: center;
                margin-bottom: 8px;

                img {
                    height: auto;
                    width: auto;
                    max-width: 150px;
                    max-height: 36px;
                }
            }

            .brand_name {
                max-width: 300px;
                font-size: 1.1rem;
                font-family: 'Montserrat', sans-serif;
            }

            .brand_evaluation-cont {
                font-family: 'Mali', cursive;

                .brand_evaluation {
                    font-size: 1.1rem;

                    .brand_maxRate {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}

// BRAND

.main-brand {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    padding-top: 10px;

    .brand_info_section {
        display: flex;
        flex-direction: column;

        .brand_primary {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            .b_logo {
                display: flex;
                padding: 0 10px 10px 10px;

                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100px;
                    /*max-width: 300px;
                    max-height: 200px;*/
                }
            }

            .b_name {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 10px;

                .icon {
                    font-size: 1.3rem;
                }

                span {
                    font-size: 1.4rem;
                    font-family: 'Montserrat', sans-serif;
                }
            }

            .b_details-cont {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 15px 20px;
                margin-top: 14px;

                .b_category {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    .icon {
                        margin-bottom: 1px;
                    }
                }

                .b_date {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                }

                .icon {
                    font-size: 0.8rem;
                }

                span {
                    font-size: 0.9rem;
                    font-family: 'Montserrat', sans-serif;
                }
            }

            .b_rating_min {
                display: flex;
                gap: 10px;
                font-size: 1.3rem;
                margin-top: 14px;
                color: #d1cb1e;
            }
        }
    }

    .review_section {
        display: flex;
        flex-direction: column;

        .brand_subpage_nav {
            display: flex;
            justify-content: center;
            gap: 20px;
            border-bottom: 1px solid var(--reviewSection_bordercolor);

            span {
                padding: 10px 20px 0;
                font-size: 1.6rem;
                border-bottom: 2px solid var(--body-bg);
                cursor: pointer;
                font-family: 'Laila', sans-serif;

                &:hover {
                    border-bottom: 2px solid var(--reviewSection_bordercolor);
                }
            }

            span.active {
                border-bottom: 2px solid #2595ae;
            }
        }

        .brand_subpage.userReviewActive .b_userReview {
            display: flex;
        }

        .brand_subpage.showReviewsActive .b_reviews {
            display: flex;
        }

        .brand_subpage {
            display: flex;
            flex-direction: column;

            .b_userReview {
                width: 100%;
                display: none;
                flex-direction: column;
                gap: 40px;
                padding: 3rem 10px;

                .b_userRating {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    h6 {
                        all: unset;
                        font-size: 1.6rem;
                        font-weight: 400;
                        font-family: 'Shantell Sans', cursive;
                    }

                    .b_rate-wrap {
                        display: flex;
                        gap: 20px;
                        font-size: 2.4rem;
                        color: #d1cb1e;

                        .icon {
                            cursor: pointer;
                        }
                    }
                }

                .b_userCommenting {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    h6 {
                        all: unset;
                        font-size: 1.3rem;
                        font-weight: 400;
                        font-family: 'Shantell Sans', cursive;
                    }

                    .b_comment-wrap {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        overflow: hidden;

                        textarea {
                            outline: transparent;
                            width: 100%;
                            min-height: 140px;
                            border-radius: 4px 4px 0 4px;
                            background-color: var(--reviewSection_comment-bgcolor);
                            border: 1px solid var(--reviewSection_comment-bordercolor);
                            color: var(--font-color1);
                            padding: 14px;
                            resize: vertical;
                            font-size: 0.9rem;
                        }

                        button {
                            outline: transparent;
                            border: none;
                            padding: 7px 20px;
                            border-radius: 0 0 4px 4px;
                            color: #ffffff;
                            font-family: 'Shantell Sans', cursive;
                            font-size: 1.2rem;
                            cursor: pointer;
                            transition: background-color 0.2s ease;
                            background-color: var(--reviewSection_button-bgcolor);

                            &:hover {
                                background-color: var(--reviewSection_button-hover-bgcolor);
                            }
                        }
                    }

                    .b_comment_warning {
                        display: block;
                        color: #a82727;
                        font-family: 'Roboto', cursive;
                        font-weight: 300;
                    }
                }
            }

            .b_reviews {
                width: 100%;
                display: none;
                flex-direction: column;
                gap: 16px;

                .b_ratingSummary {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-top: 20px;
                    padding: 0 10px;
                    flex-wrap: wrap;
                    gap: 10px;

                    .b_ratingNumber {
                        font-family: 'Margarine', cursive;

                        >span {
                            font-size: 2.4rem;

                            >span {
                                font-size: 1.2rem;
                            }
                        }
                    }

                    .b_rating-cont {
                        display: flex;
                        flex-direction: column;
                        gap: 6px;

                        .b_rating {
                            display: flex;
                            justify-content: space-between;
                            font-size: 2.2rem;
                            color: #d1cb1e;
                            gap: 5%;
                        }

                        span {
                            font-family: 'Kameron', serif;
                            font-size: 0.9rem;
                            padding-left: 6px;
                        }
                    }
                }

                .b_ratingDetails {
                    display: flex;
                    flex-direction: column;
                    padding: 0 10px;

                    table {
                        border: none;

                        tr {
                            td {
                                border-bottom: 10px solid transparent;
                            }

                            .b_rt_stars-col {
                                .b_rt_stars {
                                    display: flex;
                                    gap: 6px;
                                    align-items: center;
                                    justify-content: flex-end;
                                    color: #d1cb1e;
                                }
                            }

                            .b_rt_bar-col {
                                width: 100%;
                                padding: 6px 4%;

                                .b_rt_bar {
                                    height: 6px;
                                    width: 100%;
                                    background-color: var(--nav-border);
                                    border-radius: 2px;
                                    overflow: hidden;

                                    .b_rt_bar_fill {
                                        height: 100%;
                                        border-radius: 2px;
                                        width: 0;
                                    }
                                }
                            }

                            .b_rt_count-col {
                                .b_rt_count {
                                    font-size: 1rem;
                                    font-family: 'Josefin Sans', sans-serif;
                                    font-weight: 300;
                                    padding-top: 1px;
                                }
                            }
                        }

                        .b_rt_five .b_rt_bar_fill {
                            background-color: #26DD16;
                        }

                        .b_rt_four .b_rt_bar_fill {
                            background-color: #A1E01B;
                        }

                        .b_rt_three .b_rt_bar_fill {
                            background-color: #DEEF19;
                        }

                        .b_rt_two .b_rt_bar_fill {
                            background-color: #F8A72E;
                        }

                        .b_rt_one .b_rt_bar_fill {
                            background-color: #DE1515;
                        }
                    }
                }

                .b_reviewList_heading {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: center;
                    gap: 20px;
                    font-family: 'Klee One', cursive;

                    .icon {
                        font-size: 1.5rem;
                    }

                    span {
                        font-size: 1.4rem;
                        font-weight: 400;
                    }
                }

                .b_reviewList {
                    display: flex;
                    flex-direction: column;
                    padding-top: 10px;

                    .b_review_item:last-child {
                        border-bottom: unset;
                    }

                    .b_review_item {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        padding-bottom: 14px;
                        margin-bottom: 16px;
                        border-bottom: 1px solid var(--reviewSection_bordercolor);

                        .b_r_header {
                            padding: 0 10px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 14px;

                            .b_r_profile {
                                flex-shrink: 0;

                                img {
                                    width: 50px;
                                    height: 50px;
                                }
                            }

                            .b_r_info-cont {
                                flex-grow: 1;
                                display: flex;
                                flex-direction: column;
                                gap: 4px;

                                .b_r_username {
                                    font-family: 'KoHo', sans-serif;
                                    font-size: 1.1rem;
                                }

                                .b_r_info {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    .b_r_evaluation {
                                        display: flex;
                                        gap: 6px;
                                        font-size: 1rem;
                                        color: #d1cb1e;
                                    }

                                    .b_r_date {
                                        font-family: 'Kalam', cursive;
                                        font-weight: 400;
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }

                        .b_r_body {
                            padding: 0 10px;

                            p {
                                font-family: 'Roboto', cursive;
                                font-weight: 300;
                                font-size: 1rem;
                                text-indent: 12px;

                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 5;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
            }
        }
    }
}

// REGISTER

.main-register {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    padding: 10px 14px;

    .register_form {
        display: flex;
        flex-direction: column;

        .re-user_info {
            display: flex;
            flex-direction: column;
            gap: 10px;

            >span {
                margin-top: 6px;
                font-size: 1.4rem;
                font-family: 'Roboto', sans-serif;
                color: var(--font-color2);

                >span {
                    margin-left: 8px;
                    font-size: 1.1rem;
                    font-family: 'Roboto', sans-serif;
                    color: var(--font-color2);
                }
            }

            .re-row {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px 14px;

                .re-input-cont {
                    width: 100%;

                    input[type="text"],
                    input[type="password"] {
                        width: 100%;
                        padding: 12px 16px 12px 8px;
                        outline: transparent;
                        border-radius: 4px;
                        font-size: 1.2rem;
                        border: 1px solid var(--registerInputs_bordercolor);
                        background-color: var(--registerInputs_bgcolor);
                        color: var(--font-color1);
                    }
                }

                >select {
                    padding: 8px;
                    outline: transparent;
                    border-radius: 4px;
                    font-size: 1.2rem;
                    border: 1px solid var(--registerInputs_bordercolor);
                    background-color: var(--registerInputs_bgcolor);
                    color: var(--font-color1);
                }
            }

            input.input_error{
                border: 2px solid #bc2525 !important;
            }
        }

        .re-finish {
            display: flex;
            justify-content: center;
            padding: 26px 0;

            button {
                padding: 14px 20px;
                outline: transparent;
                border-radius: 4px;
                font-size: 1.4rem;
                border: 1px solid var(--registerInputs_bordercolor);
                background-color: var(--registerInputs_bgcolor);
                color: var(--font-color1);
                cursor: pointer;
                transition: background-color 0.1s ease;

                &:hover {
                    background-color: var(--registerInputs_hover_bgcolor);
                }
            }
        }
    }
}

// SETTINGS
.main-settings {}




// RESPONSIVE


@media (min-width: 281px) {
    header {
        padding: 15px 18px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .main-discover {
        .d-brand_list {
            .d-brand_item {
                padding: 10px 18px;
                flex-direction: row;
                gap: unset;

                .brand_logo-cont {
                    margin-bottom: unset;
                }

                .brand_name {
                    padding: 0 40px 0 20px;
                }

                .brand_evaluation-cont {
                    padding-bottom: 2px;
                }
            }
        }
    }

    .main-brand {
        .review_section {
            .brand_subpage {
                .b_reviews {
                    .b_ratingSummary {
                        .b_ratingNumber {
                            padding: 0 10px;

                            >span {
                                font-size: 3rem;

                                >span {
                                    font-size: 1.4rem;
                                }
                            }
                        }

                        .b_rating-cont {
                            .b_rating {
                                font-size: 2.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    //scrollbar
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar {
        height: 6px;
        width: 15px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
        background-color: #555;
    }

    html {
        font-size: 16px;
    }

    .page_content {
        .desktop_nav {
            display: flex;
        }

        section {
            padding: 15px 18px;
        }
    }

    header {
        padding: unset;
        padding-bottom: 15px;

        .desktop_header {
            display: flex;
        }

        .mobile_header-index,
        .mobile_header {
            display: none;
        }

        .drawer-cont {
            display: none;
        }
    }

    .main-index {
        margin: 30px 10px;

        .mainpage_heading {
            display: none;
        }

        .search-main-cont {
            input {
                padding: 17px 50px 15px 12px;
            }
        }
    }

    .main-discover {
        .d-brand_list {
            justify-content: flex-start;
        }
    }

    .main-brand {
        padding-top: 30px;

        .brand_info_section {
            .brand_primary {
                padding: 20px 10px;
                align-self: center;
                min-width: 80%;
                max-width: 90%;
                border-radius: 6px;
                background-color: var(--brandPrimary_bgcolor);
                border: 1px solid var(--brandPrimary_bordercolor);

                .b_logo {
                    max-width: 90%;
                    border-bottom: 1px solid var(--brandPrimary_bordercolor);
                }

                .b_name,
                .b_details-cont,
                .b_rating_min {
                    padding: 0 4%;
                }
            }
        }

        .review_section {
            .brand_subpage {
                .b_reviews {
                    .b_ratingSummary {
                        justify-content: flex-start;
                        gap: 5%;
                    }
                }
            }
        }
    }

    .main-register {
        padding: 20px;

        .register_form {
            .re-user_info {
                .re-row {
                    flex-direction: row;
                    align-items: unset;

                    .re-input-cont {
                        max-width: 500px;
                    }
                }
            }

            .re-finish {
                justify-content: flex-start;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .page_content {
        .desktop_nav {
            max-width: 260px;

            .nav_logo-cont {
                font-size: 1.4rem;
            }
        }
    }

    .main-index {
        article {
            max-width: 80%;

            .sector_item {
                width: 120px;
            }
        }
    }

    .main-brand {
        align-items: center;

        .brand_info_section {
            width: 80%;
        }

        .review_section {
            width: 80%;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}