/*----------SETTINGS---------*/
* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    position: relative;
    height: 100%;
}


ul,
ol,
li,
b,
h1,
h2,
h3,
h4,
h6,
a,
p {
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
}

a {
    color: unset;

    &:hover {
        color: unset;
    }
}

select {
    outline: none;
    border: none;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: var(--body-bg);
    color: var(--font-color1);
}

.page_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;

    nav {
        flex-shrink: 0;
        width: 26%;
        max-width: 200px;
        border-right: 1px solid #8B8B8B;
        display: none;
        flex-direction: column;

        .nav_logo-cont {
            width: 100%;
            padding: 20px 10px;
            text-align: center;
            font-size: 1rem;
            font-family: 'Julius Sans One', sans-serif;
        }
    }

    aside {
        flex-grow: 1;
    }
}

header {
    width: 100%;
    padding: 10px 10px;
    color: var(--font-color1);

    .mobile_header-index {
        display: flex;

        .drawerBtn-cont {
            display: flex;
            font-size: 3rem;
        }
    }

    .mobile_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .drawerBtn-cont {
            display: flex;
            font-size: 2.7rem;
        }

        .logo-mobile-cont {
            font-size: 1.6rem;
            font-family: 'Julius Sans One', sans-serif;
            padding-top: 2px;
        }

        .search-mobile-cont {
            display: flex;
            font-size: 2rem;
        }
    }

    .desktop_header {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        overflow: hidden;

        .page_title {
            display: flex;
            align-items: center;
            flex-shrink: 0;

            span {
                font-size: 1.4rem;
                font-family: 'Laila', sans-serif;
            }
        }

        .header_actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 14px;

            .search-desktop-cont {
                display: flex;
                position: relative;

                input {
                    all: unset;
                    width: 200px;
                    padding: 11px 35px 10px 8px;
                    border-radius: 6px;
                    border: 1px solid var(--search-bordercolor);
                    background-color: var(--search-bgcolor);
                }

                .input_search-icon {
                    height: 1.1rem;
                    width: 1.1rem;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0.7;
                }
            }

            .menu-cont {
                display: flex;
                flex-direction: row;

                .account {
                    display: flex;
                    align-items: center;
                    font-size: 3rem;
                    cursor: pointer;
                    color: var(--account-icon);
                }

                .dropdown_menu-icon {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    padding: 0 8px;
                    color: var(--font-color1);
                    opacity: 0.5;
                    cursor: pointer;
                }

                &:hover .dropdown_menu-icon {
                    opacity: 1;
                }
            }
        }
    }
}



@media (min-width: 281px) {
    header {
        padding: 15px 18px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .page_content {
        nav {
            display: flex;
        }
        aside {
            padding: 15px 18px;
        }
    }

    header {
        padding: unset;
        padding-bottom: 15px;

        .desktop_header {
            display: flex;
        }

        .mobile_header-index,
        .mobile_header {
            display: none;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .page_content {
        nav {
            max-width: 260px;
            .nav_logo-cont{
                font-size: 1.4rem;
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}