/*----------SETTINGS---------*/
* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    position: relative;
    height: 100%;
}


ul,
ol,
li,
b,
h1,
h2,
h3,
h4,
h6,
a,
p {
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
}

a {
    color: unset;

    &:hover {
        color: unset;
    }
}

select {
    outline: none;
    border: none;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: var(--body-bg);
    color: var(--font-color1);
}

.page_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .desktop_nav {
        flex-shrink: 0;
        width: 26%;
        max-width: 200px;
        border-right: 1px solid var(--nav-border);
        display: none;
        flex-direction: column;
        padding-top: 20px;

        .nav_logo-cont {
            padding: 10px;
            margin: 10px 0;
            font-size: 1rem;
            font-family: 'Julius Sans One', sans-serif;
            align-self: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;

            img {
                width: 1.8rem;
                height: 1.8rem;
            }

            span {}
        }

        .nav_useful_links {
            align-self: center;
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            overflow: hidden;
            margin: 20px 0;
            gap: 16px;
            max-width: 98%;

            li {
                display: flex;
                flex-direction: row;
                gap: 20px;
                cursor: pointer;
                padding: 12px 24px;
                transition: background-color 0.1s ease;
                background-color: var(--nav-usefullinks-bgcolor);
                border-radius: 5px;
                border: 1px solid var(--nav-border);

                &:hover {
                    background-color: var(--nav-usefullinks-hover-bgcolor);
                }

                .nav_link_icon-cont {
                    display: flex;
                    align-items: center;
                    font-size: 1.0rem;
                }

                span {
                    font-size: 1.1rem;
                    white-space: nowrap;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                }
            }
        }
    }

    section {
        flex-grow: 1;
        overflow: hidden;
    }
}

header {
    width: 100%;
    padding: 10px 10px;
    color: var(--font-color1);

    .mobile_header-index {
        display: flex;

        .drawerBtn-cont {
            display: flex;
            font-size: 3rem;
        }
    }

    .mobile_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .drawerBtn-cont {
            display: flex;
            font-size: 2.7rem;
        }

        .logo-mobile-cont {
            font-size: 1.6rem;
            font-family: 'Julius Sans One', sans-serif;
            padding-top: 2px;
        }

        .search-mobile-cont {
            display: flex;
            font-size: 2rem;
        }
    }

    .desktop_header {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        padding: 0 3%;

        .page_title {
            display: flex;
            align-items: center;
            flex-shrink: 0;

            span {
                font-size: 1.4rem;
                font-family: 'Laila', sans-serif;
            }
        }

        .header_actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 14px;
            margin-left: auto;
            position: relative;

            .search-header_desktop-cont {
                display: flex;
                position: relative;

                input {
                    all: unset;
                    width: 160px;
                    padding: 11px 35px 10px 8px;
                    border-radius: 6px;
                    border: 1px solid var(--search-bordercolor);
                    background-color: var(--search-bgcolor);
                    transition: width 0.1s ease;

                    &:focus {
                        width: 240px;
                    }
                }

                .search_input-icon {
                    height: 1.1rem;
                    width: 1.1rem;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0.7;
                }
            }

            .menu-cont {
                display: flex;
                flex-direction: row;

                .account {
                    display: flex;
                    align-items: center;
                    font-size: 48px;
                    cursor: pointer;
                    color: var(--account-icon);
                }

                .dropdown_menu-btn {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    padding: 0 8px;
                    color: var(--font-color1);
                    opacity: 0.5;
                    cursor: pointer;
                }

                &:hover .dropdown_menu-btn {
                    opacity: 1;
                }
            }

            .dropdown_menu.active {
                display: flex;
            }

            .dropdown_menu {
                display: none;
                position: absolute;
                right: 0;
                top: 56px;
                border-radius: 10px;
                z-index: 402;
                flex-direction: column;
                background-color: var(--dropdownMenu-bgcolor);
                border: 1px solid var(--dropdownMenu-bordercolor);
                color: var(--dropdownMenu-fontcolor);
                overflow: hidden;
                user-select: none;
                -webkit-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.1);
                box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.1);

                li {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    width: 100%;
                    gap: 12px;
                    padding: 10px 14px;
                    border-bottom: 1px solid var(--dropdownMenu-bordercolor);
                    cursor: pointer;
                    transition: background-color 0.1s ease;

                    &:hover {
                        background-color: var(--dropdownMenu-hover-bgcolor);
                    }

                    &:last-child {
                        border-bottom: unset;
                    }

                    .dm_icon-cont {
                        font-size: 1.3rem;
                        display: flex;
                        align-items: center;
                    }

                    span {
                        font-size: 1.4rem;
                        white-space: nowrap;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    .drawer-cont.active {
        left: 0;
        width: 100%;

        .drawer {
            left: 0;
        }
    }

    .drawer-cont {
        display: flex;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -10px;
        right: 0;
        height: 100%;
        overflow: hidden;
        background-color: #00000070;
        z-index: 400;
        width: 0;

        .drawer {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -270px;
            width: 260px;
            height: 100%;
            max-width: 85%;
            background-color: var(--drawer-bgcolor);
            transition: all 0.2s ease-in-out;
            z-index: 401;
            display: flex;
            flex-direction: column;

            .dr-account-cont {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;
                padding: 20px 16px;
                background-color: #38985a;
                margin-bottom: 10px;
                position: relative;
                color: #ffffff;

                .dr-closeDrawer {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 2.4rem;
                    display: flex;
                    padding: 10px;
                }

                .dr-profilePic-cont {
                    img {
                        width: 3.4rem;
                        height: 3.4rem;
                    }
                }

                .dr-account_info {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    .dr-account_username {
                        font-size: 1.2rem;
                        font-family: 'Roboto', sans-serif;
                    }

                    .dr-account_email {
                        font-size: 0.9rem;
                        font-family: 'Shantell Sans', cursive;
                    }
                }
            }

            .dr-link_groups-cont {
                display: flex;
                flex-direction: column;
                overflow-y: auto;

                .dr-group_heading {
                    padding: 10px 12px 10px;
                    font-size: 1.2rem;
                    font-family: "Laila", sans-serif;
                    font-weight: 400;
                }

                .dr-group_account,
                .dr-group_general {
                    display: flex;
                    flex-direction: column;

                    li {
                        a {
                            padding: 8px 16px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 12px;
                            white-space: nowrap;

                            .dr-link_icon {
                                font-size: 1.4rem;
                            }

                            span {
                                font-size: 1.4rem;
                                font-family: 'Shantell Sans', cursive;
                            }
                        }
                    }
                }
            }

        }
    }
}



.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .mainpage_heading {
        width: 100%;
        padding: 0px 10px 20px;
        text-align: center;
        font-size: 2rem;
        font-family: 'Julius Sans One', sans-serif;
    }

    .search-main-cont {
        display: flex;
        position: relative;
        width: 80%;
        max-width: 500px;
        margin-bottom: 20px;

        input {
            all: unset;
            width: 100%;
            font-size: 1.2rem;
            padding: 13px 50px 12px 12px;
            border-radius: 6px;
            border: 1px solid var(--search-bordercolor);
            background-color: var(--search-bgcolor);
            transition: width 0.1s ease;
        }

        .search_input-icon {
            height: 1.4rem;
            width: 1.4rem;
            position: absolute;
            right: 14px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.7;
        }
    }

    .sectors_heading {
        text-align: center;
        padding: 20px;
        font-size: 1.7rem;
        font-family: 'Laila', sans-serif;
    }

    article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px 16px;

        .sector_item {
            display: flex;
            flex-direction: column;
            font-family: 'Life Savers', cursive;
            width: 100px;
            border-radius: 6px;
            background-color: var(--sectorItem-bgcolor);
            border: 1px solid var(--sectorItem-bordercolor);
            transition: all 0.1s ease;
            cursor: pointer;

            &:hover {
                background-color: var(--sectorItem-hover-bgcolor);
                border: 1px solid var(--sectorItem-hover-bordercolor);
            }

            .sector_item_img-cont {
                width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 10px;

                img {
                    width: 70%;
                    height: auto;
                }
            }

            span {
                font-size: 1rem;
                padding: 10px;
                text-align: center;
            }
        }
    }
}

.main-discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .discover_group-heading-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 10px;
        padding-left: 14px;
        margin-bottom: 10px;


        .discover_group-heading-icon {
            font-size: 1.1rem;
            display: flex;
        }

        span {
            font-size: 1.2rem;
            font-family: 'Klee One', cursive;
        }
    }

    .d-category_list {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 10px 20px 16px;
        width: 100%;
        overflow-x: auto;
        margin-bottom: 10px;

        .d-category_item.active {
            .d-categorySymbol {
                border: 2px solid #2284ca;
                img{
                    width: 70%;
                    height: 70%;
                }
            }
        }

        .d-category_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            &:hover:not(.active) .d-categorySymbol{
                border: 1px solid var(--category-hover-bordercolor);
            }

            .d-categorySymbol {
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                background-color: var(--category-bgcolor);
                border: 1px solid var(--category-bgcolor);
                transition: border 0.1s ease;
            
                img {
                    width: 60%;
                    height: 60%;
                }
            }

            span {
                font-size: 0.9rem;
                font-family: 'Mina', sans-serif;
            }
        }
    }
}





@media (min-width: 281px) {
    header {
        padding: 15px 18px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    //scrollbar
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar {
        height: 6px;
        width: 15px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
        background-color: #555;
    }

    html {
        font-size: 16px;
    }

    .page_content {
        .desktop_nav {
            display: flex;
        }

        section {
            padding: 15px 18px;
        }
    }

    header {
        padding: unset;
        padding-bottom: 15px;

        .desktop_header {
            display: flex;
        }

        .mobile_header-index,
        .mobile_header {
            display: none;
        }

        .drawer-cont {
            display: none;
        }
    }

    .main-index {
        margin: 30px 10px;

        .mainpage_heading {
            display: none;
        }

        .search-main-cont {
            input {
                padding: 17px 50px 15px 12px;
            }
        }
    }
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .page_content {
        .desktop_nav {
            max-width: 260px;

            .nav_logo-cont {
                font-size: 1.4rem;
            }
        }
    }

    .main-index {
        article {
            max-width: 80%;

            .sector_item {
                width: 120px;
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}