:root,
.darkmode {
  --font-color1: #ffffff;
  --font-color2: #cecece;
  --body-bg: #292929;
  --nav-border: #5b5b5b;
  --nav-usefullinks-bgcolor: #303030;
  --nav-usefullinks-hover-bgcolor: #373737;
  --search-bgcolor: #3d3d3d;
  --search-bordercolor: #585858;
  --account-icon: #EFEFEF;
  --dropdownMenu-bgcolor: #3d3d3d;
  --dropdownMenu-hover-bgcolor: #525252;
  --dropdownMenu-bordercolor: #6b6b6b;
  --dropdownMenu-fontcolor: #cecece;
  --drawer-bgcolor: #292929;
  --loginmodal-bgcolor: #292929;
  --loginmodal_input-bgcolor: #2f2f2f;
  --loginmodal-bordercolor: #5b5b5b;
  --loginmodal_close-hover-bgcolor: #4b4b4b;
  --loginmodal_button-bgcolor: #31986d;
  --loginmodal_button-hover-bgcolor: #42b383;
  --sectorItem-bgcolor: #343434;
  --sectorItem-bordercolor: #545454;
  --sectorItem-hover-bgcolor: #4a4a4a;
  --sectorItem-hover-bordercolor: #545454;
  --category-bgcolor: #3d3d3d;
  --category-hover-bordercolor: #5d5d5d;
  --brand-bgcolor: #303030;
  --brand-hover-bgcolor: #373737;
  --brand-bordercolor: #5b5b5b;
  --brandPrimary-bgcolor: #2f2f2f;
  --brandPrimary-bordercolor: #454545;
  --reviewSection-bordercolor: #404040;
  --reviewSection_comment-bgcolor: #343434;
  --reviewSection_comment-bordercolor: #545454;
  --reviewSection_button-bgcolor: #31986d;
  --reviewSection_button-hover-bgcolor: #42b383;
  --reviewSection_ratingsBar-bgcolor: #5b5b5b;
  --registerInputs-bgcolor: #2f2f2f;
  --registerInputs-bordercolor: #5b5b5b;
  --registerInputs-hover-bgcolor: #414141;
}

.lightmode {
  --font-color1: #282828;
  --font-color2: #6f6f6f;
  --body-bg: #EFEEF3;
  --nav-border: #c4c4c4;
  --nav-usefullinks-bgcolor: #f6f6f6;
  --nav-usefullinks-hover-bgcolor: #ffffff;
  --search-bgcolor: #EFEFEF;
  --search-bordercolor: #a2a2a2;
  --account-icon: #656565;
  --dropdownMenu-bgcolor: #f5f5f5;
  --dropdownMenu-hover-bgcolor: #ffffff;
  --dropdownMenu-bordercolor: #c0c0c0;
  --dropdownMenu-fontcolor: #6f6f6f;
  --drawer-bgcolor: #EFEEF3;
  --loginmodal-bgcolor: #efefef;
  --loginmodal_input-bgcolor: #dddddd;
  --loginmodal-bordercolor: #d0d0d0;
  --loginmodal_close-hover-bgcolor: #dddddd;
  --loginmodal_button-bgcolor: #47C08D;
  --loginmodal_button-hover-bgcolor: #3ba579;
  --sectorItem-bgcolor: #FBFBFB;
  --sectorItem-bordercolor: #dddddd;
  --sectorItem-hover-bgcolor: #ffffff;
  --sectorItem-hover-bordercolor: #a8a8a8;
  --category-bgcolor: #ffffff;
  --category-hover-bordercolor: #d9d9d9;
  --brand-bgcolor: #f6f6f6;
  --brand-hover-bgcolor: #ffffff;
  --brand-bordercolor: #c4c4c4;
  --brandPrimary-bgcolor: #f7f7f7;
  --brandPrimary-bordercolor: #dfdfdf;
  --reviewSection-bordercolor: #d4d4d4;
  --reviewSection_comment-bgcolor: #FBFBFB;
  --reviewSection_comment-bordercolor: #dddddd;
  --reviewSection_button-bgcolor: #47C08D;
  --reviewSection_button-hover-bgcolor: #3ba579;
  --reviewSection_ratingsBar-bgcolor: #c4c4c4;
  --registerInputs-bgcolor: #efefef;
  --registerInputs-bordercolor: #d0d0d0;
  --registerInputs-hover-bgcolor: #f7f7f7;
}/*# sourceMappingURL=theme.css.map */